@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@import "./variables.css";

@custom-variant dark (&:is(.dark *));

@tailwind utilities;

body {
  @apply bg-[#000] text-gray-300;
}

@layer components {
  .sub-menu {
    @apply absolute top-[4.2rem] p-[15px] rounded-[6px] origin-[50%_-170px] backdrop-blur bg-white/[0.04];
  }
  .chatbox {
    position: fixed;
    bottom: 4%;
    right: 3%;
    z-index: 1030;
    border-radius: 50%;
    max-width: 20%;
    max-height: 80%;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  /* .chatbox-toggle-button {
    position: fixed;
    bottom: 4%;
    right: 4%;
    display: flex;
    justify-content: center;
  }
  .chatbox-toggle-button-icon {
    @apply w-12 h-12;
  } */
}

@layer utilities {
  .flex-center {
    @apply flex items-center;
  }
  .flex-center-between {
    @apply flex items-center justify-between;
  }
  .scroll-snap-container {
    @apply h-screen w-screen overflow-y-scroll snap-y snap-mandatory;
  }
  .scroll-snap-item {
    @apply h-screen w-full flex items-center justify-center snap-start;
  }
  .bg-video-main {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .bg-image-main {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    /* background-color: #000000cc; */
  }


  .section-heading {
    @apply text-text-primary font-bold text-2xl md:text-3xl lg:text-4xl text-center pt-8;
  }

  .section-subheading {
    @apply text-text-secondary text-center text-base lg:text-lg mx-auto;
  }

  .card-heading {
    @apply text-lg font-semibold text-text-primary;
  }

  .card-description {
    @apply text-text-secondary leading-snug text-center md:text-left text-base;
  }
}

