@theme {
  --color-background-primary: #18181B;
  --color-background-secondary: #09090b;
  --color-background-tertiary: #27272a;
  --color-card-primary: #27272A;
  --color-card-secondary: #3F3F46;
  --color-text-primary: #F3F4F6;
  --color-text-secondary: #a1a1aa;
  --color-text-tertiary: #0F172A;
  --color-border-primary: #3f3f46;
  --color-border-secondary: #71717A;
  --color-border-tertiary: #D1D5DB;
  --color-highlight-primary: #22C55E;
  --color-highlight-secondary: #F59E0B;
  --color-warning-primary: #EA4335;
}
